@import '../../styles/_variables';

.app__header {
  height: $header-height;
  display: flex;
  align-items: center;
  color: #FFF;
  background-color: $header-color;
  box-shadow: $box-shadow-dark;
  padding-left: $viewport-padding-left;
  padding-right: $viewport-padding-right;
  position: sticky;
  top: 0;
  z-index: 9;

  .brand {
    
  }
}

